extends pug/layouts/app.pug

block content
    section.container.py-5
        +section-title Заголовок секции
        +button-group
            +button-primary Купить!
            +button.btn-secondary Подробнее
