mixin button(props={})
    +b.BUTTON.btn&attributes(attributes)
        block

mixin button-primary(props={})
    +button.btn-primary&attributes(attributes)
        block

mixin button-group(props={})
    +b.btn-group&attributes(attributes)
        block
